*{
    margin: 0;
}
body {
    background-color: #131516;
    box-sizing: border-box;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.right-nav {
    float: right;
}
.left-nav {
    float: left;
}
.navbar-second{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
    width: 100%;
    height:100px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    /* -webkit-text-stroke: rgb(255, 255, 255); */
    background: rgb(103,104,204);
    background: linear-gradient(90deg, rgba(103,104,204,1) 1%, rgba(122,208,109,1) 53%, rgba(182,94,94,1) 89%);
}
.navbar-second p:hover {
    transform: scale(1.3);
    color: white;
    transition: 0.4s;
}
.line {

    height:100%;
    width: 1px;
    background: rgb(255, 255, 255);
}

.gallery{
    display: flex;
    align-items: center; 
    margin-top: 200px;

}
.box {
    height: 450px;
    background:rgb(100, 100, 100);
    margin:0 auto;
    display: grid;
    align-items: center;
    justify-items:center;
}
.one {
    flex-basis: 24%;
}
.two {
    flex-basis: 24%;
}
.three {
    flex-basis: 24%;
}
.four{
    flex-basis: 24%;
}

.articles img {
    width: 90%;
    height: 350px;
    transition: 0.3s;

}
.articles h3{
    text-align: center;
    font-size: 30px;
    /* top: -100px; */
    /* position: relative; */
}
.articles p {
    text-align: center;
    font-size: 20px;
    /* position: relative; */
    /* top: -100px; */
}
.articles {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 100px;
}
.articles img:hover{
    transform: scale(1.1);
    opacity: 1; 
}
.infotxt {
    display: none;
}
.footer-section {
    background-color: rgb(80, 80, 80);
    height: 100px;
    width: 100%;
    display: grid;
    margin-top: 50px;
}
.foot {
    text-align: center;
    margin:auto auto;
}
.float-panel {
font-size: 30px;
text-align: center;
}
.test{
    background: red;
    position: relative;
    top: -100px;

}
